$font_stack: Roboto, Helvetica, Arial, sans-serif; // Default fonts to use.

:host {
    font-family: $font_stack;
}

.classTimer { // Allows the timer to fill the screen.
    position:fixed !important;
    position:absolute;
    top:0;
    right:0;
    bottom:0;
    left:0;
}

.timerElement { // Centers the text.
    text-align: center;
}

#header {
  font-family: $font_stack;
  @media screen and (orientation: landscape)
  {
    font-size: 7vh;
    margin: auto;
    margin-top: 0.5vh;
    margin-bottom: 0.75vh;
  }
  @media screen and (orientation: portrait)
  {
    font-size: 7vw;
    margin: auto;
    margin-top: 0.5vw;
    margin-bottom: 0.75vw;
  }
}

#timeRemaining {
  font-family: $font_stack;
  @media screen and (orientation: landscape)
  {
    font-size: 30vh;
    margin: auto;
    margin-top: 0.5vh;
    margin-bottom: 0.5vh;
  }
  @media screen and (orientation: portrait)
  {
    font-size: 30vw;
    margin: auto;
    margin-top: 0.5vw;
    margin-bottom: 0.5vw;
  }
  font-weight: bolder;
}

#currentPeriod {
  font-family: $font_stack;
  @media screen and (orientation: landscape)
  {
    font-size: 10vh;
    margin: auto;
    margin-top: 0.5vh;
    margin-bottom: 0.5vh;
  }
  @media screen and (orientation: portrait)
  {
    font-size: 10vw;
    margin: auto;
    margin-top: 0.5vw;
    margin-bottom: 0.5vw;
  }
  font-style: italic;
  color: #535353;
}

#currentTimeHeader {
  @extend #header;
}

#currentTime {
  @extend #timeRemaining;
  @media screen and (orientation: landscape)
  {
    font-size: 15vh;
  }
  @media screen and (orientation: portrait)
  {
    font-size: 15vw;
  }
}

#ampm {
  @extend #currentPeriod;
}

progress[value] {
  @media screen and (orientation: landscape)
  {
    margin-top: 2vh;
    margin-bottom: 2vh;
    height: 8vh;
  }
  @media screen and (orientation: portrait)
  {
    margin-top: 2vw;
    margin-bottom: 2vw;
    height: 8vw;
  }
  width: 100%;
  -webkit-appearance: none;
}

progress[value]::-webkit-progress-bar {
  background-color: #858585;
  border-radius: 2px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
}

@function map($num, $from_min, $from_max, $to_min, $to_max)
{ // Maps some number in some range to a corresponding number in another range.
  @return ($num - $from_min) / ($from_max - $from_min) * ($to_max - $to_min) + $to_min;
}

// Defines a gradient of colors that change given the progress of the progress bar.
@for $val from 0 through 100
{
  progress[value="#{$val}"]::-webkit-progress-value {

    background-color: rgb(map($val, 0, 100, 0, 255), map(100 - $val, 0, 100, 0, 255), 0);
  }
}

// Defines a special value, 101%, that gives a special blue progress bar.
progress[value="101"]::-webkit-progress-value {
  background-color: aqua;
}