<head>
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
</head>
<div class="classTimer">
    <p class="timerElement" id="header">{{header}}</p>
    <p class="timerElement" id="timeRemaining">{{timeRemaining}}</p>
    <p class="timerElement" id="currentPeriod">{{currentPeriod}}</p>
    <progress max="100" value="{{currentProgress}}" class="separator"></progress>
    <p class="timerElement" id="currentTimeHeader">Current Time:</p>
    <p class="timerElement" id="currentTime">{{currentTime}} <span id="ampm">{{ampm}}</span></p>
</div>