:host {
  font-family: Roboto, Helvetica, Arial, sans-serif; }

.classTimer {
  position: fixed !important;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0; }

.timerElement {
  text-align: center; }

#header, #currentTimeHeader {
  font-family: Roboto, Helvetica, Arial, sans-serif; }
  @media screen and (orientation: landscape) {
    #header, #currentTimeHeader {
      font-size: 7vh;
      margin: auto;
      margin-top: 0.5vh;
      margin-bottom: 0.75vh; } }
  @media screen and (orientation: portrait) {
    #header, #currentTimeHeader {
      font-size: 7vw;
      margin: auto;
      margin-top: 0.5vw;
      margin-bottom: 0.75vw; } }

#timeRemaining, #currentTime {
  font-family: Roboto, Helvetica, Arial, sans-serif;
  font-weight: bolder; }
  @media screen and (orientation: landscape) {
    #timeRemaining, #currentTime {
      font-size: 30vh;
      margin: auto;
      margin-top: 0.5vh;
      margin-bottom: 0.5vh; } }
  @media screen and (orientation: portrait) {
    #timeRemaining, #currentTime {
      font-size: 30vw;
      margin: auto;
      margin-top: 0.5vw;
      margin-bottom: 0.5vw; } }

#currentPeriod, #ampm {
  font-family: Roboto, Helvetica, Arial, sans-serif;
  font-style: italic;
  color: #535353; }
  @media screen and (orientation: landscape) {
    #currentPeriod, #ampm {
      font-size: 10vh;
      margin: auto;
      margin-top: 0.5vh;
      margin-bottom: 0.5vh; } }
  @media screen and (orientation: portrait) {
    #currentPeriod, #ampm {
      font-size: 10vw;
      margin: auto;
      margin-top: 0.5vw;
      margin-bottom: 0.5vw; } }

@media screen and (orientation: landscape) {
  #currentTime {
    font-size: 15vh; } }
@media screen and (orientation: portrait) {
  #currentTime {
    font-size: 15vw; } }

progress[value] {
  width: 100%;
  -webkit-appearance: none; }
  @media screen and (orientation: landscape) {
    progress[value] {
      margin-top: 2vh;
      margin-bottom: 2vh;
      height: 8vh; } }
  @media screen and (orientation: portrait) {
    progress[value] {
      margin-top: 2vw;
      margin-bottom: 2vw;
      height: 8vw; } }

progress[value]::-webkit-progress-bar {
  background-color: #858585;
  border-radius: 2px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset; }

progress[value="0"]::-webkit-progress-value {
  background-color: lime; }

progress[value="1"]::-webkit-progress-value {
  background-color: #03fc00; }

progress[value="2"]::-webkit-progress-value {
  background-color: #05fa00; }

progress[value="3"]::-webkit-progress-value {
  background-color: #08f700; }

progress[value="4"]::-webkit-progress-value {
  background-color: #0af500; }

progress[value="5"]::-webkit-progress-value {
  background-color: #0df200; }

progress[value="6"]::-webkit-progress-value {
  background-color: #0ff000; }

progress[value="7"]::-webkit-progress-value {
  background-color: #12ed00; }

progress[value="8"]::-webkit-progress-value {
  background-color: #14eb00; }

progress[value="9"]::-webkit-progress-value {
  background-color: #17e800; }

progress[value="10"]::-webkit-progress-value {
  background-color: #1ae600; }

progress[value="11"]::-webkit-progress-value {
  background-color: #1ce300; }

progress[value="12"]::-webkit-progress-value {
  background-color: #1fe000; }

progress[value="13"]::-webkit-progress-value {
  background-color: #21de00; }

progress[value="14"]::-webkit-progress-value {
  background-color: #24db00; }

progress[value="15"]::-webkit-progress-value {
  background-color: #26d900; }

progress[value="16"]::-webkit-progress-value {
  background-color: #29d600; }

progress[value="17"]::-webkit-progress-value {
  background-color: #2bd400; }

progress[value="18"]::-webkit-progress-value {
  background-color: #2ed100; }

progress[value="19"]::-webkit-progress-value {
  background-color: #30cf00; }

progress[value="20"]::-webkit-progress-value {
  background-color: #33cc00; }

progress[value="21"]::-webkit-progress-value {
  background-color: #36c900; }

progress[value="22"]::-webkit-progress-value {
  background-color: #38c700; }

progress[value="23"]::-webkit-progress-value {
  background-color: #3bc400; }

progress[value="24"]::-webkit-progress-value {
  background-color: #3dc200; }

progress[value="25"]::-webkit-progress-value {
  background-color: #40bf00; }

progress[value="26"]::-webkit-progress-value {
  background-color: #42bd00; }

progress[value="27"]::-webkit-progress-value {
  background-color: #45ba00; }

progress[value="28"]::-webkit-progress-value {
  background-color: #47b800; }

progress[value="29"]::-webkit-progress-value {
  background-color: #4ab500; }

progress[value="30"]::-webkit-progress-value {
  background-color: #4db300; }

progress[value="31"]::-webkit-progress-value {
  background-color: #4fb000; }

progress[value="32"]::-webkit-progress-value {
  background-color: #52ad00; }

progress[value="33"]::-webkit-progress-value {
  background-color: #54ab00; }

progress[value="34"]::-webkit-progress-value {
  background-color: #57a800; }

progress[value="35"]::-webkit-progress-value {
  background-color: #59a600; }

progress[value="36"]::-webkit-progress-value {
  background-color: #5ca300; }

progress[value="37"]::-webkit-progress-value {
  background-color: #5ea100; }

progress[value="38"]::-webkit-progress-value {
  background-color: #619e00; }

progress[value="39"]::-webkit-progress-value {
  background-color: #639c00; }

progress[value="40"]::-webkit-progress-value {
  background-color: #669900; }

progress[value="41"]::-webkit-progress-value {
  background-color: #699600; }

progress[value="42"]::-webkit-progress-value {
  background-color: #6b9400; }

progress[value="43"]::-webkit-progress-value {
  background-color: #6e9100; }

progress[value="44"]::-webkit-progress-value {
  background-color: #708f00; }

progress[value="45"]::-webkit-progress-value {
  background-color: #738c00; }

progress[value="46"]::-webkit-progress-value {
  background-color: #758a00; }

progress[value="47"]::-webkit-progress-value {
  background-color: #788700; }

progress[value="48"]::-webkit-progress-value {
  background-color: #7a8500; }

progress[value="49"]::-webkit-progress-value {
  background-color: #7d8200; }

progress[value="50"]::-webkit-progress-value {
  background-color: olive; }

progress[value="51"]::-webkit-progress-value {
  background-color: #827d00; }

progress[value="52"]::-webkit-progress-value {
  background-color: #857a00; }

progress[value="53"]::-webkit-progress-value {
  background-color: #877800; }

progress[value="54"]::-webkit-progress-value {
  background-color: #8a7500; }

progress[value="55"]::-webkit-progress-value {
  background-color: #8c7300; }

progress[value="56"]::-webkit-progress-value {
  background-color: #8f7000; }

progress[value="57"]::-webkit-progress-value {
  background-color: #916e00; }

progress[value="58"]::-webkit-progress-value {
  background-color: #946b00; }

progress[value="59"]::-webkit-progress-value {
  background-color: #966900; }

progress[value="60"]::-webkit-progress-value {
  background-color: #996600; }

progress[value="61"]::-webkit-progress-value {
  background-color: #9c6300; }

progress[value="62"]::-webkit-progress-value {
  background-color: #9e6100; }

progress[value="63"]::-webkit-progress-value {
  background-color: #a15e00; }

progress[value="64"]::-webkit-progress-value {
  background-color: #a35c00; }

progress[value="65"]::-webkit-progress-value {
  background-color: #a65900; }

progress[value="66"]::-webkit-progress-value {
  background-color: #a85700; }

progress[value="67"]::-webkit-progress-value {
  background-color: #ab5400; }

progress[value="68"]::-webkit-progress-value {
  background-color: #ad5200; }

progress[value="69"]::-webkit-progress-value {
  background-color: #b04f00; }

progress[value="70"]::-webkit-progress-value {
  background-color: #b34d00; }

progress[value="71"]::-webkit-progress-value {
  background-color: #b54a00; }

progress[value="72"]::-webkit-progress-value {
  background-color: #b84700; }

progress[value="73"]::-webkit-progress-value {
  background-color: #ba4500; }

progress[value="74"]::-webkit-progress-value {
  background-color: #bd4200; }

progress[value="75"]::-webkit-progress-value {
  background-color: #bf4000; }

progress[value="76"]::-webkit-progress-value {
  background-color: #c23d00; }

progress[value="77"]::-webkit-progress-value {
  background-color: #c43b00; }

progress[value="78"]::-webkit-progress-value {
  background-color: #c73800; }

progress[value="79"]::-webkit-progress-value {
  background-color: #c93600; }

progress[value="80"]::-webkit-progress-value {
  background-color: #cc3300; }

progress[value="81"]::-webkit-progress-value {
  background-color: #cf3000; }

progress[value="82"]::-webkit-progress-value {
  background-color: #d12e00; }

progress[value="83"]::-webkit-progress-value {
  background-color: #d42b00; }

progress[value="84"]::-webkit-progress-value {
  background-color: #d62900; }

progress[value="85"]::-webkit-progress-value {
  background-color: #d92600; }

progress[value="86"]::-webkit-progress-value {
  background-color: #db2400; }

progress[value="87"]::-webkit-progress-value {
  background-color: #de2100; }

progress[value="88"]::-webkit-progress-value {
  background-color: #e01f00; }

progress[value="89"]::-webkit-progress-value {
  background-color: #e31c00; }

progress[value="90"]::-webkit-progress-value {
  background-color: #e61a00; }

progress[value="91"]::-webkit-progress-value {
  background-color: #e81700; }

progress[value="92"]::-webkit-progress-value {
  background-color: #eb1400; }

progress[value="93"]::-webkit-progress-value {
  background-color: #ed1200; }

progress[value="94"]::-webkit-progress-value {
  background-color: #f00f00; }

progress[value="95"]::-webkit-progress-value {
  background-color: #f20d00; }

progress[value="96"]::-webkit-progress-value {
  background-color: #f50a00; }

progress[value="97"]::-webkit-progress-value {
  background-color: #f70800; }

progress[value="98"]::-webkit-progress-value {
  background-color: #fa0500; }

progress[value="99"]::-webkit-progress-value {
  background-color: #fc0300; }

progress[value="100"]::-webkit-progress-value {
  background-color: red; }

progress[value="101"]::-webkit-progress-value {
  background-color: aqua; }

/*# sourceMappingURL=teacher_timer.css.map */
